Django
python-decouple==3.8
gunicorn
psycopg2-binary==2.9.9
requests
google-auth
google-auth-oauthlib
google-api-python-client
channels
channels-redis
daphne
whitenoise
django-storages
boto3
djangorestframework
django-cors-headers
django-oauth-toolkit
django-rest-framework-social-oauth2
social-auth-app-django
redis
drf-spectacular==0.27.1
python-decouple==3.8
